<footer class="main-footer">
    <div class="desenvolvedor">
        <a href="https://www.linkedin.com/in/f%C3%A1bio-moraes-13a990bb/?midSig=37hkOWTjYZzr81&eid=73o05a-lsz7vdry-hk&midToken=AQHdlwGRN3CIoA&trkEmail=eml-email_notification_digest_01-header-0-profile_glimmer-null-73o05a%7Elsz7vdry%7Ehk-null-null&trk=eml-email_notification_digest_01-header-0-profile_glimmer&originalSubdomain=br" target="_blank"  rel="noreferrer noopener">By Fábio Rodrigues de Moraes</a>
    </div>
    <div class="powered">
        <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Projeto feito em Django</a>
        </div>
</footer>