<div class="panos panos-list-item">
    <div class="panos-imagem">
        <a href="{% url 'panos-pano' pano.id %}">
            <img src="{{ pano.cover.url }}" alt="Temporário">
        </a>
    </div>
    <div class="panos-title-container">
        <a href="{% url 'panos-pano' pano.id %}">
            <h2 class="panos-title">{{ pano.title }}</h2>
        </a>
    </div>
    <div class="panos-autor">
        <span class="panos-autor-item">
            <i class="fas fa-user"></i>
            {{ pano.author.first_name }} {{ pano.author.last_name }}
        </span>
        <span class="panos-autor-item">
            <i class="fas fa-calendar-alt"></i>
            {{ pano.created_at | date:"d/m/Y" }} às {{ pano.creared_at | date:"H:i" }}
        </span>
        <span class="panos-autor-item">
            <a href="panos_de_prato/categoria/busto">
                <i class="fas fa-layer-group"></i>
                {{ pano.category.name }}
            </a>
        </span>
    </div>
    <div class="panos-content">
        <p>{{ pano.description }}</p>
    </div>
    <div class="pano-meta-container">
        <div class="panos-meta panos-preco">
            <h3 class="panos-meta-title"><i class="fas fa-coins"></i>Valor</h3>
            <div class="panos-meta-text">
                R$ {{ pano.valor_preco }} {{ pano.valor_preco_unit }}
            </div>
        </div>
    </div>
    {% if is_detail_page is not True %}
    <footer class="panos-footer">
        <a class="panos-read-more button button-dark button-full-width" href="{% url 'panos-pano' pano.id %}">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    {% endif %}
</div>