{% include 'parciais/cabecalho.html' %}

<body>
    {% include 'parciais/titulo.html' %}
    {% include 'parciais/pesquisa.html' %}
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'parciais/panos.html' %}
            {% include 'parciais/panos.html' %}
            {% include 'parciais/panos.html' %}
            {% include 'parciais/panos.html' %}
            {% include 'parciais/panos.html' %}
            {% include 'parciais/panos.html' %}
        </div>
    </main>
    {% include 'parciais/footer.html' %}
</body>

</html>